<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Competition Code Submission &mdash; Student Robotics</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <style type="text/css">
      .row {
        margin-top: 2em;
      }
      tr.chosen .info {
        display: none;
      }
      tr.chosen:hover .info {
        display: block;
        border: 1px solid silver;
        position: absolute;
        width: fit-content;
        min-width: 12em;
        padding: 0.2em 0.5em;
        background: aliceblue;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Virtual Competition Code Submission</h1>
      <div class="row">
        <div class="col-sm-6">
          <h3>Sessions</h3>
          <table class="table table-striped">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Created</th>
              <th scope="col">By</th>
              {% if BLUESHIRT_SCOPE in request.auth.scopes %}
              <th scope="col">Download</th>
              {% endif %}
            </tr>
            {% for session in sessions %}
            <tr>
              <td>{{ session.name }}</td>
              <td>{{ session.created }}</td>
              <td>{{ session.username }}</td>
              <!-- TODO: teams in the session -->
              {% if BLUESHIRT_SCOPE in request.auth.scopes %}
              <td>
                <a
                  download
                  href="{{ url_for('download_submissions', session_id=session.id) }}"
                >
                  ▼
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% if BLUESHIRT_SCOPE in request.auth.scopes %}
      <div class="row">
        <div class="col-sm-6">
          <form
            action="{{ url_for('create_session') }}"
            enctype="multipart/form-data"
            method="POST"
          >
            <h4>Create a new session</h4>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="name">Name</label>
              <input class="col-sm-6" type="text" name="name" required />
            </div>
            <button class="btn btn-primary" type="submit">Create</button>
          </form>
        </div>
      </div>
      {% endif %}
      <div class="row">
        {% if request.user.team %}
        <form
          class="col-sm-6"
          action="{{ url_for('upload') }}"
          enctype="multipart/form-data"
          method="POST"
        >
          <h3>Upload a new submission for team {{ request.user.team }}</h3>
          <p>
            Your submission must include a <code>robot.py</code> file in the
            root of the ZIP archive.
          </p>
          <div class="form-group">
            <label for="archive">Select ZIP archive</label>
            <input
              class="form-control-file"
              type="file"
              name="archive"
              placeholder="robot.zip"
              accept="application/zip,.zip"
              required
            />
          </div>
          <div class="form-group form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="choose"
              id="choose"
              checked
            />
            <label class="form-check-label" for="choose">
              Update selection to use this archive
            </label>
          </div>
          <button class="btn btn-primary" type="submit">Upload</button>
        </form>
        {% else %}
        <em>You are not in a team and so cannot upload files.</em>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-9">
          <h3>Your team's uploads</h3>
          <table class="table table-striped">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Uploaded</th>
              <th scope="col">By</th>
              <th scope="col">Selected</th>
              <th scope="col">Sessions</th>
            </tr>
            {% for upload in uploads %}
            <tr
              class="{% if upload.id == chosen.archive_id %}chosen{% endif %}"
            >
              <td>{{ upload.id }}</td>
              <td>{{ upload.created }}</td>
              <td>{{ upload.username }}</td>
              <td>
                {% if upload.id == chosen.archive_id %}
                <span>★</span>
                <span class="info">
                  Chosen by {{ chosen.username }} at {{ chosen.created }}
                </span>
                {% endif %}
              </td>
              <td>{{ ', '.join(sessions_by_upload.get(upload.id, ())) }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
