<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Competition Code Submission &mdash; Student Robotics</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Virtual Competition Code Submission</h1>
      <div class="row">
        <form action="{{ url_for('upload') }}" method="POST" class="col-sm-6">
          <div class="form-group">
            <label for="archive"> Select ZIP archive </label>
            <input
              class="form-control"
              type="file"
              name="archive"
              placeholder="robot.zip"
              accept="application/zip,.zip"
              required
            />
          </div>
          <button class="btn btn-primary" type="submit">Upload</button>
        </form>
      </div>
    </div>
  </body>
</html>
